# Play with DataFrames

## Retrieve FHIR resources via SQL statements

In [2]:
import pandas as pd
import intersystems_iris as iris
from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [3]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/FHIRSERVER')

In [4]:
# create the dbapi connection

host = "iris"
port = 1972
namespace = "FHIRSERVER"
user = "_SYSTEM"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()

## Same thing for Location Dimension

In [7]:
pd.read_sql_table('Patient', engine, schema="AA")

,ID,BirthPlaceCity,BirthPlaceCountry,BirthPlaceState,Key,LastUpdated,PatientGender,PatientNameFamily,PatientNameGiven
0,3,Newton,US,Massachusetts,Patient/3,2024-05-29T15:18:21Z,male,O'Hara248,Carroll471
1,4,Boxford,US,Massachusetts,Patient/4,2024-05-29T15:18:21Z,female,Rohan584,Gabriele201
2,5,Rowley,US,Massachusetts,Patient/5,2024-05-29T15:18:21Z,male,Jast432,Frankie174
3,6,Shanghai,CN,Shanghai Municipality,Patient/6,2024-05-29T15:18:21Z,female,Frami345,Kallie862
4,7,Chongqing,CN,Chongqing Municipality,Patient/7,2024-05-29T15:18:21Z,female,Davis923,Lean294
5,53,Braintree,US,Massachusetts,Patient/53,2024-05-29T15:18:21Z,female,Hettinger594,Margie619

In [8]:
df = pd.read_csv("Location.csv")
df.head()

,City,County,Latitude,Longitude,State,0-4,5-9,10-14,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,Abington,Plymouth,42.1047,-70.9458,MA,0.04,0.05,0.05,0.07,0.13,0.14,0.14,0.16,0.12,0.07,0.03,0.51,0.49
1,Acton,Middlesex,42.4850,-71.4333,MA,0.06,0.05,0.07,0.11,0.07,0.09,0.16,0.19,0.10,0.07,0.03,0.52,0.48
2,Acushnet,Bristol,41.6806,-70.9083,MA,0.06,0.05,0.04,0.04,0.12,0.11,0.13,0.18,0.13,0.11,0.03,0.52,0.48
3,Adams,Berkshire,42.6242,-73.1181,MA,0.04,0.04,0.05,0.04,0.16,0.12,0.12,0.15,0.16,0.07,0.05,0.48,0.52
4,Agawam,Hampden,42.0696,-72.6152,MA,0.06,0.04,0.06,0.05,0.10,0.10,0.13,0.17,0.14,0.09,0.06,0.51,0.49

In [9]:
df.to_sql('Location', engine, schema="AB" ,if_exists='replace', index=True)

-1

In [10]:
pd.read_sql_table('Location', engine, schema="AB")

,index,City,County,Latitude,Longitude,State,0-4,5-9,10-14,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,0,Abington,Plymouth,42.1047,-70.9458,MA,0.04,0.05,0.05,0.07,0.13,0.14,0.14,0.16,0.12,0.07,0.03,0.51,0.49
1,1,Acton,Middlesex,42.4850,-71.4333,MA,0.06,0.05,0.07,0.11,0.07,0.09,0.16,0.19,0.10,0.07,0.03,0.52,0.48
2,2,Acushnet,Bristol,41.6806,-70.9083,MA,0.06,0.05,0.04,0.04,0.12,0.11,0.13,0.18,0.13,0.11,0.03,0.52,0.48
3,3,Adams,Berkshire,42.6242,-73.1181,MA,0.04,0.04,0.05,0.04,0.16,0.12,0.12,0.15,0.16,0.07,0.05,0.48,0.52
4,4,Agawam,Hampden,42.0696,-72.6152,MA,0.06,0.04,0.06,0.05,0.10,0.10,0.13,0.17,0.14,0.09,0.06,0.51,0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,345,Woburn,Middlesex,42.4791,-71.1518,MA,0.06,0.05,0.05,0.05,0.12,0.16,0.12,0.14,0.13,0.07,0.05,0.49,0.51
346,346,Worcester,Worcester,42.2667,-71.8000,MA,0.06,0.05,0.07,0.07,0.18,0.14,0.12,0.12,0.10,0.05,0.04,0.51,0.49
347,347,Worthington,Hampshire,42.3972,-72.9361,MA,0.02,0.05,0.06,0.06,0.10,0.09,0.13,0.14,0.21,0.10,0.04,0.54,0.46
348,348,Wrentham,Norfolk,42.0639,-71.3315,MA,0.07,0.06,0.07,0.07,0.09,0.11,0.12,0.19,0.13,0.05,0.04,0.48,0.52
349,349,Yarmouth,Barnstable,41.7055,-70.2286,MA,0.02,0.06,0.02,0.06,0.11,0.10,0.08,0.14,0.16,0.14,0.11,0.55,0.45

In [13]:
sql = """
SELECT 
P.*,Location.*
FROM AA.Patient P
inner join AB.Location on P.BirthPlaceCity = Location.City
"""
cur.execute(sql)
cur.fetchall()

[Row(ID=3, BirthPlaceCity='Newton', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', Key='Patient/3', LastUpdated='2024-05-29T15:18:21Z', PatientGender='male', PatientNameFamily="O'Hara248", PatientNameGiven='Carroll471', index=205, City='Newton', County='Middlesex', Latitude=42.3369, Longitude=-71.2097, State='MA', _15=0.05, _16=0.05, _17=0.07, _18=0.08, _19=0.13, _20=0.11, _21=0.12, _22=0.13, _23=0.13, _24=0.08, _25=0.05, F=0.54, M=0.46),
 Row(ID=4, BirthPlaceCity='Boxford', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', Key='Patient/4', LastUpdated='2024-05-29T15:18:21Z', PatientGender='female', PatientNameFamily='Rohan584', PatientNameGiven='Gabriele201', index=38, City='Boxford', County='Essex', Latitude=42.6736, Longitude=-70.9861, State='MA', _15=0.05, _16=0.04, _17=0.14, _18=0.05, _19=0.05, _20=0.08, _21=0.15, _22=0.19, _23=0.16, _24=0.04, _25=0.05, F=0.49, M=0.51),
 Row(ID=5, BirthPlaceCity='Rowley', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', Key='Patient/5', LastUpdated='2024-05-29T15:18:21Z', PatientGender='male', PatientNameFamily='Jast432', PatientNameGiven='Frankie174', index=252, City='Rowley', County='Essex', Latitude=42.7167, Longitude=-70.8792, State='MA', _15=0.03, _16=0.06, _17=0.05, _18=0.09, _19=0.09, _20=0.12, _21=0.11, _22=0.19, _23=0.14, _24=0.08, _25=0.04, F=0.54, M=0.46),
 Row(ID=53, BirthPlaceCity='Braintree', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', Key='Patient/53', LastUpdated='2024-05-29T15:18:21Z', PatientGender='female', PatientNameFamily='Hettinger594', PatientNameGiven='Margie619', index=40, City='Braintree', County='Norfolk', Latitude=42.206, Longitude=-71.005, State='MA', _15=0.04, _16=0.06, _17=0.06, _18=0.07, _19=0.1, _20=0.14, _21=0.14, _22=0.15, _23=0.12, _24=0.07, _25=0.05, F=0.52, M=0.48)]

In [14]:
df = pd.read_sql_query(sql, engine)
df.head()

,ID,BirthPlaceCity,BirthPlaceCountry,BirthPlaceState,Key,LastUpdated,PatientGender,PatientNameFamily,PatientNameGiven,index,...,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,3,Newton,US,Massachusetts,Patient/3,2024-05-29T15:18:21Z,male,O'Hara248,Carroll471,205,...,0.08,0.13,0.11,0.12,0.13,0.13,0.08,0.05,0.54,0.46
1,4,Boxford,US,Massachusetts,Patient/4,2024-05-29T15:18:21Z,female,Rohan584,Gabriele201,38,...,0.05,0.05,0.08,0.15,0.19,0.16,0.04,0.05,0.49,0.51
2,5,Rowley,US,Massachusetts,Patient/5,2024-05-29T15:18:21Z,male,Jast432,Frankie174,252,...,0.09,0.09,0.12,0.11,0.19,0.14,0.08,0.04,0.54,0.46
3,53,Braintree,US,Massachusetts,Patient/53,2024-05-29T15:18:21Z,female,Hettinger594,Margie619,40,...,0.07,0.10,0.14,0.14,0.15,0.12,0.07,0.05,0.52,0.48

In [16]:
pd.read_sql_table('Observation', engine, schema="AA")

,ID,Code,Key,ObservationCodeCodingCode,ObservationCodeCodingDisplay,QuantityValue,SubjectReference,System,Unit,Value
0,101,cm,Observation/101,8302-2,Body Height,76.0,Patient/4,http://unitsofmeasure.org,cm,76.0
1,102,{score},Observation/102,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4.0,Patient/4,http://unitsofmeasure.org,{score},4.0
2,103,kg,Observation/103,29463-7,Body Weight,12.0,Patient/4,http://unitsofmeasure.org,kg,12.0
3,104,%,Observation/104,77606-2,Weight-for-length Per age and sex,98.0,Patient/4,http://unitsofmeasure.org,%,98.0
4,113,None,Observation/113,85354-9,Blood Pressure,NaN,Patient/4,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...
788,2612,mg/dL,Observation/2612,2093-3,Total Cholesterol,160.0,Patient/7,http://unitsofmeasure.org,mg/dL,160.0
789,2613,mg/dL,Observation/2613,2571-8,Triglycerides,102.0,Patient/7,http://unitsofmeasure.org,mg/dL,102.0
790,2614,mg/dL,Observation/2614,18262-6,Low Density Lipoprotein Cholesterol,80.0,Patient/7,http://unitsofmeasure.org,mg/dL,80.0
791,2615,mg/dL,Observation/2615,2085-9,High Density Lipoprotein Cholesterol,59.0,Patient/7,http://unitsofmeasure.org,mg/dL,59.0
792,2616,None,Observation/2616,72166-2,Tobacco smoking status NHIS,NaN,Patient/7,None,None,NaN

In [20]:
sql = """
SELECT top 10
P.Key,P.PatientNameFamily,O.*
FROM AA.Patient P
inner join AA.Observation O on P.Key = O.SubjectReference
"""
cur.execute(sql)
cur.fetchall()

[Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=101, Code='cm', _4='Observation/101', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', QuantityValue='76.6', SubjectReference='Patient/4', System='http://unitsofmeasure.org', Unit='cm', Value='76.6'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=102, Code='{score}', _4='Observation/102', ObservationCodeCodingCode='72514-3', ObservationCodeCodingDisplay='Pain severity - 0-10 verbal numeric rating [Score] - Reported', QuantityValue='4', SubjectReference='Patient/4', System='http://unitsofmeasure.org', Unit='{score}', Value='4'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=103, Code='kg', _4='Observation/103', ObservationCodeCodingCode='29463-7', ObservationCodeCodingDisplay='Body Weight', QuantityValue='12.3', SubjectReference='Patient/4', System='http://unitsofmeasure.org', Unit='kg', Value='12.3'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=104, Code='%', _4='Observation/104', ObservationCodeCodingCode='77606-2', ObservationCodeCodingDisplay='Weight-for-length Per age and sex', QuantityValue='98.841', SubjectReference='Patient/4', System='http://unitsofmeasure.org', Unit='%', Value='98.841'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=113, Code=None, _4='Observation/113', ObservationCodeCodingCode='85354-9', ObservationCodeCodingDisplay='Blood Pressure', QuantityValue=None, SubjectReference='Patient/4', System=None, Unit=None, Value=None),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=114, Code=None, _4='Observation/114', ObservationCodeCodingCode='72166-2', ObservationCodeCodingDisplay='Tobacco smoking status NHIS', QuantityValue=None, SubjectReference='Patient/4', System=None, Unit=None, Value=None),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=120, Code='cm', _4='Observation/120', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', QuantityValue='81.4', SubjectReference='Patient/4', System='http://unitsofmeasure.org', Unit='cm', Value='81.4'),
 Row(Key='Patient/3', PatientNameFamily="O'Hara248", ID=153, Code='cm', _4='Observation/153', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', QuantityValue='193.3', SubjectReference='Patient/3', System='http://unitsofmeasure.org', Unit='cm', Value='193.3'),
 Row(Key='Patient/3', PatientNameFamily="O'Hara248", ID=154, Code='{score}', _4='Observation/154', ObservationCodeCodingCode='72514-3', ObservationCodeCodingDisplay='Pain severity - 0-10 verbal numeric rating [Score] - Reported', QuantityValue='3', SubjectReference='Patient/3', System='http://unitsofmeasure.org', Unit='{score}', Value='3'),
 Row(Key='Patient/3', PatientNameFamily="O'Hara248", ID=155, Code='kg', _4='Observation/155', ObservationCodeCodingCode='29463-7', ObservationCodeCodingDisplay='Body Weight', QuantityValue='106.3', SubjectReference='Patient/3', System='http://unitsofmeasure.org', Unit='kg', Value='106.3')]

In [21]:
df = pd.read_sql_query(sql, engine)
df.head()

,Key,PatientNameFamily,ID,Code,Key,ObservationCodeCodingCode,ObservationCodeCodingDisplay,QuantityValue,SubjectReference,System,Unit,Value
0,Patient/4,Rohan584,101,cm,Observation/101,8302-2,Body Height,76.6,Patient/4,http://unitsofmeasure.org,cm,76.6
1,Patient/4,Rohan584,102,{score},Observation/102,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4,Patient/4,http://unitsofmeasure.org,{score},4
2,Patient/4,Rohan584,103,kg,Observation/103,29463-7,Body Weight,12.3,Patient/4,http://unitsofmeasure.org,kg,12.3
3,Patient/4,Rohan584,104,%,Observation/104,77606-2,Weight-for-length Per age and sex,98.841,Patient/4,http://unitsofmeasure.org,%,98.841
4,Patient/4,Rohan584,113,None,Observation/113,85354-9,Blood Pressure,None,Patient/4,None,None,None

In [22]:
# execute a query
cur.execute("""create TABLE if not exists AB.DriverLicense (

    Code varchar(255) not null,
    Valide TINYINT not null

)""")

0

## Insert New Data

In [143]:
cur.execute("""delete AB.DriverLicense""")

3

In [144]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valide) VALUES ('935564323334', 0)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('35564323334', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('187788223334', 1)""")

1

In [73]:
pd.read_sql_table('DriverLicense', engine, schema="AB",columns={"Code","Valide"})

           Code  Valide
0  935564323334       0
1   35564323334       1
2  187788223334       1

In [146]:
sql = """
SELECT 
P.PatientNameFamily,DL.*
FROM AAIPC.Patient P
inner join AB.DriverLicense DL on P.PatientIdentifierValue = DL.Code
"""
cur.execute(sql)
cur.fetchall()

[Row(PatientNameFamily='Lamarck', Code='935564323334', Valide=0),
 Row(PatientNameFamily='Desbois', Code='35564323334', Valide=1),
 Row(PatientNameFamily='Potier', Code='187788223334', Valide=1)]