# Play with DataFrames

## Retrieve FHIR resources via SQL statements

In [158]:
import pandas as pd
import intersystems_iris as iris
from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [159]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/FHIRSERVER')

In [161]:
# create the dbapi connection

host = "iris"
port = 1972
namespace = "FHIRSERVER"
user = "_SYSTEM"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()

Exception: Access Denied

## Same thing for Location Dimension

In [153]:
pd.read_sql_table('Patient', engine, schema="AAIPC")

,ID,BirthPlaceCity,Key,LastUpdated,PatientGender,PatientIdentifierTypeCodingDisplay,PatientIdentifierValue,PatientNameFamily
0,3,Newton,Patient/3,2024-05-29T15:18:21Z,male,Medical Record Number,274f5452-2a39-44c4-a7cb-f36de467762e,O'Hara248
1,4,Boxford,Patient/4,2024-05-29T15:18:21Z,female,Medical Record Number,b0223c9b-0019-42b0-99b8-7d689d7f8414,Rohan584
2,5,Rowley,Patient/5,2024-05-29T15:18:21Z,male,Medical Record Number,a5b737fb-1f94-4767-802b-1112051f5101,Jast432
3,6,Shanghai,Patient/6,2024-05-29T15:18:21Z,female,Medical Record Number,9a0d7938-4f49-43f6-8eea-b22e1bbe1b74,Frami345
4,7,Chongqing,Patient/7,2024-05-29T15:18:21Z,female,Medical Record Number,3e36b31d-3c32-43b4-b016-b46a90c2e50f,Davis923
5,53,Braintree,Patient/53,2024-05-29T15:18:21Z,female,Medical Record Number,29428a22-5f03-492e-83bb-da34bb2a12c9,Hettinger594
6,2625,None,Patient/2625,2024-06-04T10:12:23Z,male,Driver's License,935564323334,Lamarck
7,2626,None,Patient/2626,2024-06-04T10:13:38Z,female,Driver's License,35564323334,Desbois
8,2627,None,Patient/2627,2024-06-04T10:15:07Z,male,Driver's License,187788223334,Potier
9,2643,None,Patient/987654321,2024-06-04T11:00:01Z,male,None,987654321,SULINE

In [132]:
df = pd.read_csv("Location.csv")
df.head()

,City,County,Latitude,Longitude,State,0-4,5-9,10-14,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,Abington,Plymouth,42.1047,-70.9458,MA,0.04,0.05,0.05,0.07,0.13,0.14,0.14,0.16,0.12,0.07,0.03,0.51,0.49
1,Acton,Middlesex,42.4850,-71.4333,MA,0.06,0.05,0.07,0.11,0.07,0.09,0.16,0.19,0.10,0.07,0.03,0.52,0.48
2,Acushnet,Bristol,41.6806,-70.9083,MA,0.06,0.05,0.04,0.04,0.12,0.11,0.13,0.18,0.13,0.11,0.03,0.52,0.48
3,Adams,Berkshire,42.6242,-73.1181,MA,0.04,0.04,0.05,0.04,0.16,0.12,0.12,0.15,0.16,0.07,0.05,0.48,0.52
4,Agawam,Hampden,42.0696,-72.6152,MA,0.06,0.04,0.06,0.05,0.10,0.10,0.13,0.17,0.14,0.09,0.06,0.51,0.49

In [133]:
df.to_sql('Location', engine, schema="AB" ,if_exists='replace', index=True)

-1

In [134]:
pd.read_sql_table('Location', engine, schema="AB")

,index,City,County,Latitude,Longitude,State,0-4,5-9,10-14,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,0,Abington,Plymouth,42.1047,-70.9458,MA,0.04,0.05,0.05,0.07,0.13,0.14,0.14,0.16,0.12,0.07,0.03,0.51,0.49
1,1,Acton,Middlesex,42.4850,-71.4333,MA,0.06,0.05,0.07,0.11,0.07,0.09,0.16,0.19,0.10,0.07,0.03,0.52,0.48
2,2,Acushnet,Bristol,41.6806,-70.9083,MA,0.06,0.05,0.04,0.04,0.12,0.11,0.13,0.18,0.13,0.11,0.03,0.52,0.48
3,3,Adams,Berkshire,42.6242,-73.1181,MA,0.04,0.04,0.05,0.04,0.16,0.12,0.12,0.15,0.16,0.07,0.05,0.48,0.52
4,4,Agawam,Hampden,42.0696,-72.6152,MA,0.06,0.04,0.06,0.05,0.10,0.10,0.13,0.17,0.14,0.09,0.06,0.51,0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,345,Woburn,Middlesex,42.4791,-71.1518,MA,0.06,0.05,0.05,0.05,0.12,0.16,0.12,0.14,0.13,0.07,0.05,0.49,0.51
346,346,Worcester,Worcester,42.2667,-71.8000,MA,0.06,0.05,0.07,0.07,0.18,0.14,0.12,0.12,0.10,0.05,0.04,0.51,0.49
347,347,Worthington,Hampshire,42.3972,-72.9361,MA,0.02,0.05,0.06,0.06,0.10,0.09,0.13,0.14,0.21,0.10,0.04,0.54,0.46
348,348,Wrentham,Norfolk,42.0639,-71.3315,MA,0.07,0.06,0.07,0.07,0.09,0.11,0.12,0.19,0.13,0.05,0.04,0.48,0.52
349,349,Yarmouth,Barnstable,41.7055,-70.2286,MA,0.02,0.06,0.02,0.06,0.11,0.10,0.08,0.14,0.16,0.14,0.11,0.55,0.45

In [138]:
sql = """
SELECT 
P.*,Location.*
FROM AAIPC.Patient P
inner join AB.Location on P.BirthPlaceCity = Location.City
"""
cur.execute(sql)
cur.fetchall()

[Row(ID=3, BirthPlaceCity='Newton', Key='Patient/3', LastUpdated='2024-05-29T15:18:21Z', PatientGender='male', index=205, City='Newton', County='Middlesex', Latitude=42.3369, Longitude=-71.2097, State='MA', _11=0.05, _12=0.05, _13=0.07, _14=0.08, _15=0.13, _16=0.11, _17=0.12, _18=0.13, _19=0.13, _20=0.08, _21=0.05, F=0.54, M=0.46),
 Row(ID=4, BirthPlaceCity='Boxford', Key='Patient/4', LastUpdated='2024-05-29T15:18:21Z', PatientGender='female', index=38, City='Boxford', County='Essex', Latitude=42.6736, Longitude=-70.9861, State='MA', _11=0.05, _12=0.04, _13=0.14, _14=0.05, _15=0.05, _16=0.08, _17=0.15, _18=0.19, _19=0.16, _20=0.04, _21=0.05, F=0.49, M=0.51),
 Row(ID=5, BirthPlaceCity='Rowley', Key='Patient/5', LastUpdated='2024-05-29T15:18:21Z', PatientGender='male', index=252, City='Rowley', County='Essex', Latitude=42.7167, Longitude=-70.8792, State='MA', _11=0.03, _12=0.06, _13=0.05, _14=0.09, _15=0.09, _16=0.12, _17=0.11, _18=0.19, _19=0.14, _20=0.08, _21=0.04, F=0.54, M=0.46),
 Row(ID=53, BirthPlaceCity='Braintree', Key='Patient/53', LastUpdated='2024-05-29T15:18:21Z', PatientGender='female', index=40, City='Braintree', County='Norfolk', Latitude=42.206, Longitude=-71.005, State='MA', _11=0.04, _12=0.06, _13=0.06, _14=0.07, _15=0.1, _16=0.14, _17=0.14, _18=0.15, _19=0.12, _20=0.07, _21=0.05, F=0.52, M=0.48)]

In [139]:
df = pd.read_sql_query(sql, engine)
df.head()

,ID,BirthPlaceCity,Key,LastUpdated,PatientGender,index,City,County,Latitude,Longitude,...,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,3,Newton,Patient/3,2024-05-29T15:18:21Z,male,205,Newton,Middlesex,42.3369,-71.2097,...,0.08,0.13,0.11,0.12,0.13,0.13,0.08,0.05,0.54,0.46
1,4,Boxford,Patient/4,2024-05-29T15:18:21Z,female,38,Boxford,Essex,42.6736,-70.9861,...,0.05,0.05,0.08,0.15,0.19,0.16,0.04,0.05,0.49,0.51
2,5,Rowley,Patient/5,2024-05-29T15:18:21Z,male,252,Rowley,Essex,42.7167,-70.8792,...,0.09,0.09,0.12,0.11,0.19,0.14,0.08,0.04,0.54,0.46
3,53,Braintree,Patient/53,2024-05-29T15:18:21Z,female,40,Braintree,Norfolk,42.2060,-71.0050,...,0.07,0.10,0.14,0.14,0.15,0.12,0.07,0.05,0.52,0.48

In [147]:
pd.read_sql_table('Observation', engine, schema="AAIPC")

,ID,Key,ObservationCodeCodingCode,ObservationCodeCodingDisplay,ObservationSubjectReference,QuantityUnit,QuantityValue
0,101,Observation/101,8302-2,Body Height,Patient/4,cm,76.0
1,102,Observation/102,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,Patient/4,{score},4.0
2,103,Observation/103,29463-7,Body Weight,Patient/4,kg,12.0
3,104,Observation/104,77606-2,Weight-for-length Per age and sex,Patient/4,%,98.0
4,113,Observation/113,85354-9,Blood Pressure,Patient/4,None,NaN
...,...,...,...,...,...,...,...
792,2616,Observation/2616,72166-2,Tobacco smoking status NHIS,Patient/7,None,NaN
793,2641,Observation/2641,1010.1,BODY WEIGHT,Patient/987654321,None,62.0
794,2642,Observation/2642,1010.1,HEIGHT,Patient/987654321,None,190.0
795,2657,Observation/2657,1010.1,BODY WEIGHT,Patient/987654321,None,62.0
796,2658,Observation/2658,1010.1,HEIGHT,Patient/987654321,None,190.0

In [149]:
sql = """
SELECT top 10
P.Key,P.PatientNameFamily,O.*
FROM AA.Patient P
inner join AAIPC.Observation O on P.Key = O.ObservationSubjectReference
"""
cur.execute(sql)
cur.fetchall()

[Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=101, _3='Observation/101', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', ObservationSubjectReference='Patient/4', QuantityUnit='cm', QuantityValue='76.6'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=102, _3='Observation/102', ObservationCodeCodingCode='72514-3', ObservationCodeCodingDisplay='Pain severity - 0-10 verbal numeric rating [Score] - Reported', ObservationSubjectReference='Patient/4', QuantityUnit='{score}', QuantityValue='4'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=103, _3='Observation/103', ObservationCodeCodingCode='29463-7', ObservationCodeCodingDisplay='Body Weight', ObservationSubjectReference='Patient/4', QuantityUnit='kg', QuantityValue='12.3'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=104, _3='Observation/104', ObservationCodeCodingCode='77606-2', ObservationCodeCodingDisplay='Weight-for-length Per age and sex', ObservationSubjectReference='Patient/4', QuantityUnit='%', QuantityValue='98.841'),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=113, _3='Observation/113', ObservationCodeCodingCode='85354-9', ObservationCodeCodingDisplay='Blood Pressure', ObservationSubjectReference='Patient/4', QuantityUnit=None, QuantityValue=None),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=114, _3='Observation/114', ObservationCodeCodingCode='72166-2', ObservationCodeCodingDisplay='Tobacco smoking status NHIS', ObservationSubjectReference='Patient/4', QuantityUnit=None, QuantityValue=None),
 Row(Key='Patient/4', PatientNameFamily='Rohan584', ID=120, _3='Observation/120', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', ObservationSubjectReference='Patient/4', QuantityUnit='cm', QuantityValue='81.4'),
 Row(Key='Patient/3', PatientNameFamily="O'Hara248", ID=153, _3='Observation/153', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', ObservationSubjectReference='Patient/3', QuantityUnit='cm', QuantityValue='193.3'),
 Row(Key='Patient/3', PatientNameFamily="O'Hara248", ID=154, _3='Observation/154', ObservationCodeCodingCode='72514-3', ObservationCodeCodingDisplay='Pain severity - 0-10 verbal numeric rating [Score] - Reported', ObservationSubjectReference='Patient/3', QuantityUnit='{score}', QuantityValue='3'),
 Row(Key='Patient/3', PatientNameFamily="O'Hara248", ID=155, _3='Observation/155', ObservationCodeCodingCode='29463-7', ObservationCodeCodingDisplay='Body Weight', ObservationSubjectReference='Patient/3', QuantityUnit='kg', QuantityValue='106.3')]

In [150]:
df = pd.read_sql_query(sql, engine)
df.head()

,Key,PatientNameFamily,ID,Key,ObservationCodeCodingCode,ObservationCodeCodingDisplay,ObservationSubjectReference,QuantityUnit,QuantityValue
0,Patient/4,Rohan584,101,Observation/101,8302-2,Body Height,Patient/4,cm,76.6
1,Patient/4,Rohan584,102,Observation/102,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,Patient/4,{score},4
2,Patient/4,Rohan584,103,Observation/103,29463-7,Body Weight,Patient/4,kg,12.3
3,Patient/4,Rohan584,104,Observation/104,77606-2,Weight-for-length Per age and sex,Patient/4,%,98.841
4,Patient/4,Rohan584,113,Observation/113,85354-9,Blood Pressure,Patient/4,None,None

In [142]:
# execute a query
cur.execute("""create TABLE if not exists AB.DriverLicense (

    Code varchar(255) not null,
    Valide TINYINT not null

)""")

0

## Insert New Data

In [143]:
cur.execute("""delete AB.DriverLicense""")

3

In [144]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valide) VALUES ('935564323334', 0)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('35564323334', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('187788223334', 1)""")

1

In [73]:
pd.read_sql_table('DriverLicense', engine, schema="AB",columns={"Code","Valide"})

           Code  Valide
0  935564323334       0
1   35564323334       1
2  187788223334       1

In [146]:
sql = """
SELECT 
P.PatientNameFamily,DL.*
FROM AAIPC.Patient P
inner join AB.DriverLicense DL on P.PatientIdentifierValue = DL.Code
"""
cur.execute(sql)
cur.fetchall()

[Row(PatientNameFamily='Lamarck', Code='935564323334', Valide=0),
 Row(PatientNameFamily='Desbois', Code='35564323334', Valide=1),
 Row(PatientNameFamily='Potier', Code='187788223334', Valide=1)]