# FHIR SQL Builder

## Retrieve FHIR resources via SQL statements

In [ ]:
import pandas as pd
import intersystems_iris as iris
from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [ ]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/FHIRSERVER')

## Create the dbapi connection

In [ ]:
host = "iris"
port = 1972
namespace = "FHIRSERVER"
user = "_SYSTEM"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()

## Display data from AA.Patient table after having created the FHIR SQL Builder projection

### Alternatively, you can import the misc/T1.json transformation file using FHIR SQL Builder

In [ ]:
pd.read_sql_table('Patient', engine, schema="AA")

## Create a dataframe from Location.csv file

In [ ]:
df = pd.read_csv("Location.csv")
df.head()

## Store Location dataframe into IRIS AB.Location table

In [ ]:
df.to_sql('Location', engine, schema="AB" ,if_exists='replace', index=True)

## Read AB.Location table from IRIS

In [ ]:
pd.read_sql_table('Location', engine, schema="AB")

## Crossjoin AA.Patient and AB.Location

In [ ]:
sql = """
SELECT 
P.*,Location.*
FROM AA.Patient P
inner join AB.Location on P.BirthPlaceCity = Location.City
"""
cur.execute(sql)
cur.fetchall()

## Display the SQL Query from a dataframe

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

## Display the AA.Observation data after having projected it using FHIR SQL Builder

### Alternatively, you can import the misc/T1.json transformation file using FHIR SQL Builder

In [ ]:
pd.read_sql_table('Observation', engine, schema="AA")

## Crossjoin AA.Patient and AA.Observation

In [ ]:
sql = """
SELECT top 10
P.Key,P.FirstName,P.LastName,O.*
FROM AA.Patient P
inner join AA.Observation O on P.Key = O.SubjectReference
"""
cur.execute(sql)
cur.fetchall()

## Display the SQL Query from a dataframe

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

## Create new table to store DriverLicense data

In [ ]:
# execute a query
cur.execute("""create TABLE if not exists AB.DriverLicense (

    Code varchar(255) not null,
    Valide TINYINT not null

)""")

## DELETE DriverLicense data

In [ ]:
cur.execute("""delete AB.DriverLicense""")

## INSERT DriverLicense data

In [ ]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valide) VALUES ('935564323334', 0)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('35564323334', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('187788223334', 1)""")

## Display DriverLicense data

In [ ]:
pd.read_sql_table('DriverLicense', engine, schema="AB",columns={"Code","Valide"})

## Crossjoin AA.Patient and AB.DriverLicense

In [ ]:
sql = """
SELECT 
P.LastName,P.FirstName,DL.*
FROM AA.Patient P
inner join AB.DriverLicense DL on P.PatientIdentifierValue = DL.Code
"""
cur.execute(sql)
cur.fetchall()