# Play with DataFrames

## Retrieve FHIR resources via SQL statements

In [9]:
import pandas as pd
import intersystems_iris as iris
from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [10]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/FHIRSERVER')

In [11]:
# create the dbapi connection

host = "iris"
port = 1972
namespace = "FHIRSERVER"
user = "_SYSTEM"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()

## Same thing for Location Dimension

In [39]:
pd.read_sql_table('Patient', engine, schema="AA")

,ID,Key,PatientIdentifierSystem,PatientIdentifierTypeCodingCode,PatientIdentifierTypeCodingDisplay,PatientIdentifierValue,PatientNameFamily,PatientNameGiven
0,3,Patient/3,https://github.com/synthetichealth/synthea,MR,Medical Record Number,274f5452-2a39-44c4-a7cb-f36de467762e,O'Hara248,Carroll471
1,4,Patient/4,https://github.com/synthetichealth/synthea,MR,Medical Record Number,b0223c9b-0019-42b0-99b8-7d689d7f8414,Rohan584,Gabriele201
2,5,Patient/5,https://github.com/synthetichealth/synthea,MR,Medical Record Number,a5b737fb-1f94-4767-802b-1112051f5101,Jast432,Frankie174
3,6,Patient/6,https://github.com/synthetichealth/synthea,MR,Medical Record Number,9a0d7938-4f49-43f6-8eea-b22e1bbe1b74,Frami345,Kallie862
4,7,Patient/7,https://github.com/synthetichealth/synthea,MR,Medical Record Number,3e36b31d-3c32-43b4-b016-b46a90c2e50f,Davis923,Lean294
5,53,Patient/53,https://github.com/synthetichealth/synthea,MR,Medical Record Number,29428a22-5f03-492e-83bb-da34bb2a12c9,Hettinger594,Margie619
6,2626,Patient/2626,None,MR,None,TEST,NOM,PRENOM
7,2634,Patient/2634,None,MR,None,TEST,NOM,PRENOM
8,2652,Patient/Dummy0001,None,RAE,None,Dummy0001,Test,Patient
9,2658,Patient/2658,None,MR,None,SV565,Chung,Alice

In [16]:
# execute a query
cur.execute("""create TABLE if not exists AB.DriverLicense (

    Code varchar(255) not null,
    Valide TINYINT not null

)""")

0

## Insert New Data

In [54]:
cur.execute("""delete AB.DriverLicense""")

3

In [55]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valide) VALUES ('935564323334', 0)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('35564323334', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valide) VALUES ('187788223334', 1)""")

1

In [56]:
pd.read_sql_table('DriverLicense', engine, schema="AB",columns={"Code","Valide"})

           Code  Valide
0  935564323334       0
1   35564323334       1
2  187788223334       1

In [57]:
sql = """
SELECT 
P.PatientNameFamily, P.PatientNameGiven,DL.*
FROM AA.Patient P
inner join AB.DriverLicense DL on P.PatientIdentifierValue = DL.Code
"""
cur.execute(sql)
cur.fetchall()

[Row(PatientNameFamily='Doe', PatientNameGiven='John', Code='187788223334', Valide=1),
 Row(PatientNameFamily='Durand', PatientNameGiven='Alice', Code='35564323334', Valide=1),
 Row(PatientNameFamily='Lamarck', PatientNameGiven='Kevin', Code='935564323334', Valide=0)]